<div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text_banner2">
                            <h1>Heading</h1>
                            <p>Paragraph</p>
                        </div>
                        <div class="col p-0">
                            <div class="img_banner1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text_banner2">
                            <h1>Heading</h1>
                            <p>Paragraph</p>
                        </div>
                        <div class="col p-0">
                            <div class="img_banner2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
        </ol>
</div>
