
            <p-confirmDialog #cd [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [baseZIndex]="10000" oncomplete="deleteDialog()">
                <ng-template pTemplate="header">
                    <h3>Header Content</h3>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
                </ng-template>
            </p-confirmDialog>
            <div class="card shadow mt-2 mb-2">
                
                <div class="card-header py-3 d-flex justify-content-between">
                    <p class="text-secondary m-0 fw-bold">Productos</p>
                    <button class="btn btn-warning " type="button" routerLink="./add"><i class="fa fa-plus"></i></button>
                   
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap"> 
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">Ver&nbsp;
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option (click)="cambiarPageSize(10)">10 </option>
                                        <option (click)="cambiarPageSize(20)">20 </option>
                                        <option (click)="cambiarPageSize(40)">40 </option>
                                        <option (click)="cambiarPageSize(100)">100 </option>
                                        
                                    </select>&nbsp;</label></div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Buscar"></label></div>
                        </div>
                    </div>
                    <div class="table-responsive d-xxl-flex table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable" >
                            <caption>Tabla de productos</caption>
                            <thead class="text-center">
                                <tr>
                                    <th>Id</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Categoria</th>
                                    
                                    <th> Visible</th>
                                    <th><i class="fa fa-gear"></i></th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let producto of productos">
                                    <td><span>{{producto.id}}</span></td>
                                    <td><span>{{producto.nombre}}</span></td>
                                    <td><span>{{producto.cantidad}}</span></td>
                                    <td><span>{{producto.precio}}</span></td>
                                    <td><span>{{producto.categoria}}</span></td>
                                    <td><span>{{ producto.visible == true ? 'Visible' : 'No Visible' }}</span></td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-success" type="button"><i class="fa fa-eye" routerLink="./view/{{producto.id}}"></i></button>
                                            <button class="btn btn-warning" type="button"><i class="fa fa-edit" style="color: rgb(255,255,255);" routerLink="./edit/{{producto.id}}"></i></button>
                                            <button class="btn btn-danger"type="button" (click)="confirm(producto.id)" ><i class="fa fa-trash-o"></i></button>

                                            
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="text-center">
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>Producto</strong></td>
                                    <td><strong>Cantidad</strong></td>
                                    <td><strong>Precio</strong></td>
                                    <td><strong>Categoria</strong></td>
                                    <td><strong>Visible</strong></td>
                                    <td><i class="fa fa-gear"></i></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Pagina {{page}} de {{totalPages}}</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous" (click)="previousPage()"><span aria-hidden="true">«</span></a></li>
                                    <div *ngFor="let pagina of [].constructor(raw.totalPages); let num = index">
                                        <li *ngIf="offset==num; else elseBlock" class="page-item active">
                                          <a class="page-link" (click)="specificPage(num)">{{num+1}}</a>
                                        </li>
                                        <ng-template #elseBlock>
                                            <li  class="page-item ">
                                             <a class="page-link" (click)="specificPage(num)">{{num+1}}</a>
                                            </li>
                                        </ng-template>
                                      </div>
                                    <li class="page-item"><a class="page-link"  (click)="nextPage()" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
