.view-product img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
  
  .column-center {
    align-items: center;
    text-align: center;
  }
  
  .view-product {
    height: 170px;
  }
  
  .breadcrumb.m-0 .breadcrumb-item a {
    color: gray;
    text-decoration: none;
  }
  
  .pagination li a {
    color: grey;
  }
  
  .page-item.active .page-link {
    color: white;
    background-color: grey;
    border-color: gray;
  }
  
  .page-link:hover {
    z-index: 2;
    color: black;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    color: black;
    box-shadow: 0px 0px 5px 1px var(--bs-gray-400);
  }
  
  .borderproduct {
    border-radius: 15px;
    transition: transform .5s;
    border: 4.5px solid rgb(238,238,238);
  }
  
  .borderproduct:hover {
    border: 4.5px solid rgb(58,58,58);
    transform: scale(1.05);
  }
  
  .social-icons {
    color: #313437;
    background-color: #fff;
    text-align: center;
    padding: 70px 0;
  }
  
  @media (max-width:767px) {
    .social-icons {
      padding: 50px 0;
    }
  }
  
  .social-icons i {
    font-size: 32px;
    display: inline-block;
    color: #757980;
    margin: 0 10px;
    width: 60px;
    height: 60px;
    border: 1px solid #c8ced7;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
  }
  
    