
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">

    <div class="pt-3 pb-3" style="opacity: 0.80;background: #eeeeee;">
        <div class="container text-center p-4" style="background: #ffffff;box-shadow: 0px 0px 14px 3px rgb(220,220,220);">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 d-md-flex d-xxl-flex justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center"><img class="d-xxl-flex p-5 p-md-0" src="../../../../assets/img/productoSolo/Sin título-1.png" width="100%"></div>
                <div class="col-md-6 align-self-center">
                    <h3 class="pt-3 pt-md-0">Producto</h3>
                    <hr>
                    <div class="row">
                        <div class="col d-flex d-md-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center">
                            <h3>300€</h3>
                        </div>
                        <div class="col"><button class="btn btn-primary p-3" type="button"><i class="icon-basket"></i>Add to Cart</button></div>
                    </div>
                    <hr>
                    <p class="d-xxl-flex justify-content-xxl-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
                    <div class="social-icons p-0"><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a></div>
                </div>
            </div>
            <div class="pt-4">
                <h3 class="pt-2 pb-2" style="background: var(--bs-gray-300);">Descripción</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
            </div>
            <div>
                <h3 class="pt-2 pb-2" style="background: var(--bs-gray-300);">Especificaciones</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p>
            </div>
            <div>
                <h3 class="pt-2" style="text-align: left;">Productos parecidos</h3>
                <div class="row g-0 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
                    <div class="col column-center px-5 px-md-0">
                        <div class="m-2 p-2 borderproduct">
                            <div class="view-product"><img src="assets/img/comprar-nuevo-iphone-13-pro-max-color-plata-128gb.jpg"></div>
                            <div class="p-2">
                                <p class="text-start d-flex justify-content-center fw-bold mb-1" style="font-size: 18px;">IPHONE 13 PRO MAX</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-center d-inline-flex fw-bold m-0 fs-4">1320€</p>
                                        <p class="d-inline-flex fw-bold m-0" style="text-decoration: line-through;color: rgb(156,10,0);font-size: 12px;">1500€</p>
                                    </div>
                                    <div class="col d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width:100px;"><i class="fa fa-heart-o d-xxl-flex" style="font-size: 25px;"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col column-center px-5 px-md-0">
                        <div class="m-2 p-2 borderproduct">
                            <div class="view-product"><img src="assets/img/comprar-nuevo-iphone-13-pro-max-color-plata-128gb.jpg"></div>
                            <div class="p-2">
                                <p class="text-start d-flex justify-content-center fw-bold mb-1" style="font-size: 18px;">IPHONE 13 PRO MAX</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-center d-inline-flex fw-bold m-0 fs-4">1320€</p>
                                        <p class="d-inline-flex fw-bold m-0" style="text-decoration: line-through;color: rgb(156,10,0);font-size: 12px;">1500€</p>
                                    </div>
                                    <div class="col d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width:100px;"><i class="fa fa-heart-o d-xxl-flex" style="font-size: 25px;"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col column-center px-5 px-md-0">
                        <div class="m-2 p-2 borderproduct">
                            <div class="view-product"><img src="assets/img/comprar-nuevo-iphone-13-pro-max-color-plata-128gb.jpg"></div>
                            <div class="p-2">
                                <p class="text-start d-flex justify-content-center fw-bold mb-1" style="font-size: 18px;">IPHONE 13 PRO MAX</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-center d-inline-flex fw-bold m-0 fs-4">1320€</p>
                                        <p class="d-inline-flex fw-bold m-0" style="text-decoration: line-through;color: rgb(156,10,0);font-size: 12px;">1500€</p>
                                    </div>
                                    <div class="col d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width:100px;"><i class="fa fa-heart-o d-xxl-flex" style="font-size: 25px;"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col column-center px-5 px-md-0">
                        <div class="m-2 p-2 borderproduct">
                            <div class="view-product"><img src="assets/img/comprar-nuevo-iphone-13-pro-max-color-plata-128gb.jpg"></div>
                            <div class="p-2">
                                <p class="text-start d-flex justify-content-center fw-bold mb-1" style="font-size: 18px;">IPHONE 13 PRO MAX</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-center d-inline-flex fw-bold m-0 fs-4">1320€</p>
                                        <p class="d-inline-flex fw-bold m-0" style="text-decoration: line-through;color: rgb(156,10,0);font-size: 12px;">1500€</p>
                                    </div>
                                    <div class="col d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width:100px;"><i class="fa fa-heart-o d-xxl-flex" style="font-size: 25px;"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>