<div class="SoloM">
<p-menubar [model]="items" class="" [baseZIndex]="0" appendTo="body">
    <ng-template pTemplate="start">
        <img src="assets/img/logo1.png" height="40" class="p-mr-2 imgMR ">
    </ng-template>
    <ng-template pTemplate="end" class="HR SearchIP ">
        <div class="SerachTA"><input type="search" class="form-control SearchIP" placeholder="Search..." aria-label="Search">   </div>
                
    </ng-template>
</p-menubar>
</div>

<div class="SoloM1">
    <p-menubar [model]="itemsM" class="">
        <ng-template pTemplate="start">
            <img src="assets/img/logo1.png" height="40" class="p-mr-2 imgMR">        
        </ng-template>
    </p-menubar>
</div>



