.imgMR{
    margin-right: 25px;
    margin-left: 15px;
}

:host ::ng-deep p-menubarsub {
  width: 90%;
}

div.SerachTA{
float: left !important;
}

@media (max-width: 767.98px) {
   div.HR {
    visibility: hidden
  }
}

@media screen and (min-width: 767.98px) {
  div.SoloM1{
    visibility: hidden;
    position: absolute;
    }
}

@media (max-width: 767.98px) {
  div.SoloM{
    visibility: hidden;
    height: 0px;
    }
}

