
<!-- <app-carousel-basic></app-carousel-basic> -->

<!-- <app-snack-bar></app-snack-bar> -->

<!-- <app-date-picker></app-date-picker>

<app-table></app-table> -->

<!-- <app-mat-slider></app-mat-slider>  -->

<!-- <app-progress-spinner></app-progress-spinner> -->

<!-- <app-progress-bar></app-progress-bar>  -->

<!-- <app-chips-input></app-chips-input> -->

<app-carousel-image></app-carousel-image>

<app-article-simple></app-article-simple>

<app-product></app-product>

<app-big-product></app-big-product>

<app-galery-products></app-galery-products>

<app-paginator></app-paginator>
