<div class="align-items-center vh-100">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/carro.jpg&quot;);"><a class="btn btn-secondary btn-circle ms-1 mt-1" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg></a></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center"><img class="rounded-circle" src="../../../../assets/img/logo.png" height="100" width="100">
                                        <h2>Login</h2>
                                        <form class="user">
                                            <div class="mb-3"><input class="form-control form-control-user form-shadow-vodafone" type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Inserte usuario..." name="email"></div>
                                            <div class="mb-3"><input class="form-control form-control-user" type="password" id="InputPassword" placeholder="Password" name="password"></div>
                                            <div class="mb-3">
                                                <div class="custom-control custom-checkbox small">
                                                    <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Recuerdame</label></div>
                                                </div>
                                            </div><button class="btn btn-secondary d-block w-100" type="button">Login</button>
                                            <hr>
                                        </form>
                                    </div>
                                    <div class="text-center"><a class="small" href="remind.html">¿Olvidaste la contraseña?</a></div>
                                    <div class="text-center"><a class="small" href="register.html">Crear cuenta</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </div>