<link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../../assets/css/styles.css">

<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/carro.jpg&quot;);"><a class="btn btn-secondary btn-circle ms-1 mt-1" role="button"><i class="fas fa-info-circle"></i></a></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center"><img class="rounded-circle" src="assets/img/circle-logo-png.png" height="100" width="100">
                                    <h2>Registro</h2>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control" type="text" placeholder="Nombre"><input class="form-control" type="text" placeholder="Apellidos"></div>
                                        <div class="mb-3"><input class="form-control form-control-user form-shadow-vodafone" type="email" id="InputEmail" placeholder="Correo" name="ApellidosCorreo"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="InputPassword" placeholder="Password" name="password"><input class="form-control form-control-user" type="password" id="InputPassword-1" placeholder="Repite contraseña" name="Repite_contraseña"></div><button class="btn btn-secondary d-block w-100" type="button">Register</button>
                                        <hr>
                                    </form>
                                </div>
                                <div class="text-center"><a class="small" href="remind.html">¿Olvidaste la contraseña?</a></div>
                                <div class="text-center"><a class="small" href="register.html">Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>