
      <div class="card shadow mt-2 mb-2">
        <div class="card-header py-3">
          <p class="text-secondary m-0 fw-bold">Producto</p>
        </div>
        <div class="card-body">

           
          <!-- <div class="container">
            <h1 *ngIf="isAddMode">Add User</h1>
            <h1 *ngIf="!isAddMode">Edit User</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col">
                        <label>Title</label>
                        <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                            <option value=""></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </select>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-7">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Role</label>
                        <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                            <option value=""></option>
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">Role is required</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isAddMode">
                    <h3 class="pt-3">Change Password</h3>
                    <p>Leave blank to keep the same password</p>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                    <a routerLink="/users" class="btn btn-link">Cancel</a>
                </div>
            </form> -->
          <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label class="form-label">Nombre:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Nombre" class="form-control" formControlName="nombre"  [style]="{'width':'100%'}">         
                                </div>
                            </div>
                          
                            <div class="col-sm-12 col-md-6"><label class="form-label"> Descripción Corta:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder=" Descripción Corta:" class="form-control" formControlName="descripcionCorta" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-12"><label class="form-label">Descripción:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Descripción" class="form-control" formControlName="descripcionLarga" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-sm-6 col-md-2"><label class="form-label"> Precio:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Precio" class="form-control" formControlName="precio" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-sm-6 col-md-2"><label class="form-label">Cantidad:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Cantidad" class="form-control" formControlName="cantidad" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-sm-6 col-md-8"><label class="form-label">Marca:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Marca" class="form-control" formControlName="marca" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-sm-12 col-md-6"><label class="form-label">Categoria:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Categoria" class="form-control" formControlName="categoria" [style]="{'width':'100%'}">         
                                </div></div>
                            <div class="col-sm-12 col-md-6"><label class="form-label">Distribuidor:</label>
                                <div class="p-inputgroup ">
                                    <input type="text" pInputText placeholder="Distribuidor" class="form-control" formControlName="distribuidor" [style]="{'width':'100%'}">         
                                </div></div>
                            
                            <div class="col-sm-12 col-md-6"><label class="form-label">Tag:</label>
                                <select class="form-select" formControlName="tag">
                                 <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option> 
                                </select>
                            </div>
                            
                            <div class="col-sm-12 col-md-6"><label class="form-label">Imagen de producto:</label><input class="form-control" type="file">
                                
                                <div class="text-center d-xxl-flex justify-content-xxl-center"><img class="d-xxl-flex" src="assets/img/circle-logo-png.png" width="30%"></div> 
                            </div>


                            <div class="col d-xxl-flex justify-content-xxl-center">
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" formControlName="visible"><label class="form-check-label" for="formCheck-1"><i class="fa fa-eye"></i>Visible</label></div>
                            </div>
                            <div class="col-12 d-xxl-flex justify-content-xxl-center"><button class="btn btn-secondary" type="submit" [disabled]="!productoForm.valid"><i class="fa fa-save"></i>&nbsp;Guardar producto</button></div>

                        </div>
                    </form>
          <div class="row">
            <div class="col">
              <div class="card mt-3">
                <div class="card-header justify-content-xxl-start py-3">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <p class="text-secondary m-0 fw-bold">Variaciones</p>
                    </div>
                    <div
                      class="col-sm-12 col-md-6 d-flex d-xxl-flex justify-content-center justify-content-sm-end justify-content-xxl-end">
                      <button class="btn btn-warning" type="button"><i class="fa fa-plus"></i></button></div>
                  </div>
                </div>
                <div class="card-body">
                  <form>
                    <div class="table-responsive">
                      <table class="table">
                        <caption>New York City Marathon Results 2013</caption>
                        <thead>
                          <tr>
                            <th>Atributo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th><i class="fa fa-gear"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input class="form-control" type="text"></td>
                            <td><input class="form-control" type="text"></td>
                            <td class="align-items-xxl-center"><input class="form-control" type="number"></td>
                            <td>
                              <div class="btn-group" role="group"><button class="btn btn-success" type="button"><i
                                    class="fa fa-save"></i></button><button class="btn btn-danger" type="button"><i
                                    class="fa fa-trash-o"></i></button></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
