<p-confirmDialog #cd [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [baseZIndex]="10000"
  oncomplete="deleteDialog()">
  <ng-template pTemplate="header">
    <h3>Header Content</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>


  <div class="card-header py-3 d-flex justify-content-between">
    <div class=" d-xxl-flex justify-content-xxl-center" *ngIf="this.urlMode == 'editMarca'|| this.isAddMode"><button class="btn btn-secondary" type="submit"
        [disabled]="!marcaForm.valid"><i class="fa fa-save"></i>&nbsp;Guardar marca</button>
    </div>
    <a class="btn btn-danger action-button" role="button" routerLink="/areaAdm">Salir</a>
  </div>


  <div class="row">
    <form [formGroup]="marcaForm" (ngSubmit)="onSubmit()">
      <div class="col-2">
        <label for="name">Nombre Marca </label>
        <input type="text" id="name" name="name" formControlName="nombre">
      </div>
      <div  class="col-2">
        <label for="producto">Añadir Producto </label>
          <select class="form-control" [(ngModel)]="selectedProduct" formControlName="Productos" #product>
            <option *ngFor="let product of ProductoList" [ngValue]='product'>{{product.name}}</option>
          </select>
          <button class="btn btn-success" type="submit" (click)="guardarProductoEnMarca()" [disabled]="!marcaForm.valid"><i class="fa fa-save"></i>&nbsp;Guardar Producto</button>
      </div>
     
     

      <label >Producto Añadido</label>
      <ul>
        <li *ngFor="let c of ProductosEnMarca">{{c.name}}</li>
      </ul>

    </form> 
  </div>
